<footer>
  <div>
    <img class="logo" src="assets\imagens\logo-com-tagline.png" alt="Jornada Milhas" />
    <p>Horário de atendimento: 08h - 20h (Segunda a Sábado)</p>
    <p>Desenvolvido por Alura. Projeto fictício sem fins comerciais.</p>
  </div>
  <div class="redes">
    <p>Acesse nossas redes</p>
    <img src="assets\icones\whatsapp.png" alt="WhatsApp" />
    <img src="assets\icones\instagram.png" alt="Instagram" />
    <img src="assets\icones\twitter.png" alt="Twitter" />
  </div>
</footer>